[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
psycopg2-binary = "*"
graphene-django = "*"
django-filter = "*"
sqlalchemy = "*"
pandas = "*"
Scrapy = "*"
dj-database-url = "*"
gunicorn = "*"
whitenoise = "*"
django-graphql-jwt = "*"
django-cors-headers = "*"
pyjwt = "~=1.7"

[dev-packages]

[requires]
python_version = "3.9"
